

.bl-intro {
    height: 100vh;

    background: url("../../../assets/pictures/bible3.jpg")no-repeat center center fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}