
<!-- landing page full screen paralax welcome -->
<!--Mask-->
<div id="intro" class="view bl-intro">


<!-- content -->
<!--div class="mask rgba-black-strong"-->
    <div class="mask">
        <div class="container-fluid d-flex align-items-center justify-content-center h-100">
            <div class="row d-flex justify-content-center text-center">
                <div class="col-md-10">

                    <!-- Welcome -->
                    <h2 class="display-4 font-weight-bold white-text pt-5 mb-2">
                    Willkommen
                    </h2>

                    <!-- Divider -->
                    <hr class="hr-light">

                    <!-- BibleVerse -->
                    <h4 class="white-text my-4">
                    HERR, zu wem sollen wir gehen?
                    Du hast Worte des ewigen Lebens
                    </h4>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!--/.Mask-->


<!-- <hr class="my-5"> -->
<body class="pt-5">
    <section id="welcome">
        <div class="container text-center">
            <h2 class="mb-5 font-weight-bold">Bibelgemeinde Günzburg</h2>
            <div class="row mb-4">
                <div class="col-md-8">
                    <p class="grey-text">
                        Unser Name ist 
                    </p>
                    <p class="grey-text">
                        Die Erfahrung der Liebe Gottes und die Vergebung der eigenen Schuld durch Jesus Christus.
                        Das Fundament unseres Glaubens bildet die Bibel. Es ist unser Wunsch, unser Leben aufgrund der Bibel zu gestalten und zu führen.
                    </p>
                </div>
                <div class="col-md-4">
                    <div class="container-fluid d-flex align-items-center border justify-content-center">
                            <i class="fa fa-book fa-4x orange-text"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

    <div class="container">
            <hr class="my-5">
    </div>

    
    <!--Section: Best Features-->
    <section id="best-features" class="text-center">
    
        <!-- Heading -->
        <h2 class="mb-5 font-weight-bold">Best Features</h2>
        
        <!--Grid row-->
        <div class="row d-flex justify-content-center mb-4">
        
            <!--Grid column-->
            <div class="col-md-8">
        
                <!-- Description -->
                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi voluptate hic provident nulla repellat
                    facere esse molestiae ipsa labore porro minima quam quaerat rem, natus repudiandae debitis est
                    sit pariatur.</p>
        
            </div>
            <!--Grid column-->
        
        </div>
        <!--Grid row-->
        
        <!--Grid row-->
        <div class="row">
        
            <!--Grid column-->
            <div class="col-md-4 mb-5">
                <i class="fa fa-camera-retro fa-4x orange-text"></i>
                <h4 class="my-4 font-weight-bold">Experience</h4>
                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima
                    assumenda deleniti hic.</p>
            </div>
            <!--Grid column-->
        
            <!--Grid column-->
            <div class="col-md-4 mb-1">
                <i class="fa fa-heart fa-4x orange-text"></i>
                <h4 class="my-4 font-weight-bold">Happiness</h4>
                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima
                    assumenda deleniti hic.</p>
            </div>
            <!--Grid column-->
        
            <!--Grid column-->
            <div class="col-md-4 mb-1">
                <i class="fa fa-bicycle fa-4x orange-text"></i>
                <h4 class="my-4 font-weight-bold">Adventure</h4>
                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima
                    assumenda deleniti hic.</p>
            </div>
            <!--Grid column-->
        
        </div>
        <!--Grid row-->
        
    </section>
    <!--Section: Best Features-->
    
    
</body>
