<div class="container" *ngIf="users[0]">
  <H2>Intern Users</H2>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let user of users; let i = index" (click)="GetSingleUser(i)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <img class="rounded float-left" src="{{user.photoURL}}" height="50" alt="">
          <p>{{ user.name }}</p>
        </mat-panel-title>
      </mat-expansion-panel-header>


      <ng-template matExpansionPanelContent>
        {{ user.UID }}

        <div *ngIf="user.u_admin">
          {{ selectedAdminUserData.email }}
        </div>
      </ng-template>

    </mat-expansion-panel>
  </mat-accordion>
</div>



<div class="container" *ngIf="newUsers">
  <H2>New Users</H2>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let user of newUsers; let i = index" (click)="GetSingleUser(user.UID)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <img class="rounded float-left" src="{{user.photoURL}}" height="50" alt="">
          <p>{{ user.name }}</p>
        </mat-panel-title>
      </mat-expansion-panel-header>


      <ng-template matExpansionPanelContent>
        {{ user.UID }}

        <div *ngIf="selectedAdminUserData">
          {{ selectedAdminUserData.email }}
        </div>
      </ng-template>

    </mat-expansion-panel>
  </mat-accordion>
</div>