<div class="container col-md-8 col-lg-6 col-xl-4 mt-5 pt-5">
  
  <div class="container text-center">
      <p class="pt-5 h4 mb-4">Passwort vergessen:</p>
  </div>

  <!-- Default form login -->
  <form [formGroup]="requestNewPasswordForm" (ngSubmit)="onSubmit()" class="text-center border border-light p-5">

        <div class="form-group">
            <label>Gebe bitte deine Email an:</label>
            <input type="email" formControlName="email" class="form-control mb-4" placeholder="E-mail" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Bitte Email angeben</div>
                <div *ngIf="f.email.errors.email">Muss eine vollständige Email-Adresse enthalten</div>
            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <button class="btn btn-info">Neues Passwort anfordern</button>
        </div>

        <!--  In case of an error on Requesting a new Password, show danger-alert  -->
        <div *ngIf="error" class="alert alert-danger"> {{ errorMessage }} </div>
  </form>

</div>
<!-- Default form login -->